<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Notifications
      <a href="https://coreui.io/pro/angular/" class="badge badge-danger ml-2">CoreUI Pro Component</a>
    </div>
    <div class="card-body">
      <button class="btn btn-success mr-1 mb-1" (click)="showSuccess()">Try Success</button>
      <button class="btn btn-danger mr-1 mb-1" (click)="showError()">Try Error</button>
      <button class="btn btn-warning mr-1 mb-1" (click)="showWarning()">Try Warning</button>
      <button class="btn btn-info mr-1 mb-1" (click)="showInfo()">Try Info</button>
      <button class="btn btn-primary mr-1 mb-1" (click)="showPrimary()">Try Primary</button>
    </div>
  </div>
</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
